:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active,
:-webkit-autofill:first-line {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 1.25rem !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
  border: 1px solid #ced4da;
  -webkit-text-fill-color: #495057;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
  padding: 0.5rem 1rem !important;
}

.form-control:focus {
  border-color: #343a40;
}
